.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
  }
  
  .modal-content {
    padding: 20px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;   
  }
  
  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .nuevo-movimiento label {
    display: block;
    margin-top: 10px;
    text-align: left;
  }
  
  .nuevo-movimiento input,
  .nuevo-movimiento select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btn.primary {
    background-color: #28a745;
    color: white;
  }

  .btn.secondary {
    background-color: #888;
    color: white;
  }

  .error {
    border: 1px solid #f00 !important;
    color: #f00;
  }

  .error:focus-visible {
    outline: 1.5px solid #f00 ;
  }